<vex-page-layout>
  <vex-page-layout-content [class.container]="layoutCtrl.value === 'boxed'"
                           [class.px-gutter]="layoutCtrl.value === 'fullwidth'"
                           class="-mt-6">

    <div class="card overflow-auto -mt-16">
      <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
        <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l" fxFlex="none" fxHide.xs>
          <span *ngIf="selection.isEmpty()">Buscar por TAG</span>
          <span *ngIf="selection.hasValue()">{{ selection.selected.length }}
            TAG<span *ngIf="selection.selected.length > 1">s</span> Seleccionado</span>
        </h2>
        
        <form class="form-horizontal p-t-20"
              [formGroup]="lecturaForm"
              (submit)="BuscarTag()">

            <div class="bg-card rounded-full border px-4"
                fxFlex="400px"
                fxFlex.lt-md="auto"
                fxHide.xs
                fxLayout="row"
                fxLayoutAlign="start center">
              <input formControlName="fecha"
                  class="px-4 py-3 border-0 outline-none w-full bg-transparent"
                  placeholder="Example: 2021-06-03"
                  type="text">
            </div>

            <div class="bg-card rounded-full border px-4"
                fxFlex="400px"
                fxFlex.lt-md="auto"
                fxHide.xs
                fxLayout="row"
                fxLayoutAlign="start center">
              <input formControlName="ruc"
                  class="px-4 py-3 border-0 outline-none w-full bg-transparent"
                  placeholder="Ingrese Ruc"
                  type="text">
            </div>

            <!-- <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l" fxFlex="none" fxHide.xs>
              <span *ngIf="selection.isEmpty()"></span>
              <span *ngIf="selection.hasValue()">{{ selection.selected.length }}
                TAG<span *ngIf="selection.selected.length > 1">s</span> Seleccionado</span>
            </h2> -->

            <div class="form-group row m-b-0">
            <div class="offset-sm-3 col-sm-9">
            <button  mat-raised-button type="submit"
                  color="primary">
                <i class="fa fa-save"></i>
                Buscar
            </button>
            </div>
            </div>
        </form>
      </div>
    </div>
  </vex-page-layout-content>
</vex-page-layout>

<table mat-table [dataSource]="customers" class="mat-elevation-z8">

  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="epc">
    <th mat-header-cell *matHeaderCellDef> TAG </th>
    <td mat-cell *matCellDef="let element"> {{element.epc}} </td>
  </ng-container>

  <ng-container matColumnDef="moduloId" [style.display]="'none'">
    <th mat-header-cell *matHeaderCellDef [style.display]="'none'"> ModuloId </th>
    <td mat-cell *matCellDef="let element" [style.display]="'none'"> {{element.moduloId}} </td>
  </ng-container>

  <ng-container matColumnDef="moduloRol">
    <th mat-header-cell *matHeaderCellDef> Ubicacion </th>
    <td mat-cell *matCellDef="let element"> {{element.moduloRol}} </td>
  </ng-container>

  <ng-container matColumnDef="lecturas" [style.display]="'none'">
    <th mat-header-cell *matHeaderCellDef [style.display]="'none'"> Lecturas </th>
    <td mat-cell *matCellDef="let element" [style.display]="'none'"> {{element.lecturas}} </td>
  </ng-container>
  
  <ng-container matColumnDef="local">
    <th mat-header-cell *matHeaderCellDef> Establecimiento </th>
    <td mat-cell *matCellDef="let element"> {{element.local}} </td>
  </ng-container>

  <ng-container matColumnDef="telefono" [style.display]="'none'">
    <th mat-header-cell *matHeaderCellDef [style.display]="'none'"> Telefono </th>
    <td mat-cell *matCellDef="let element" [style.display]="'none'"> {{element.telefono}} </td>
  </ng-container>

  <ng-container matColumnDef="antena">
    <th mat-header-cell *matHeaderCellDef> Posicion </th>
    <td mat-cell *matCellDef="let element"> {{element.antena}} </td>
  </ng-container>

  <ng-container matColumnDef="empresa" [style.display]="'none'">
    <th mat-header-cell *matHeaderCellDef [style.display]="'none'"> Empresa </th>
    <td mat-cell *matCellDef="let element" [style.display]="'none'"> {{element.empresa}} </td>
  </ng-container>

  <ng-container matColumnDef="ruc" [style.display]="'none'">
    <th mat-header-cell *matHeaderCellDef [style.display]="'none'"> Ruc </th>
    <td mat-cell *matCellDef="let element" [style.display]="'none'"> {{element.ruc}} </td>
  </ng-container>

  <ng-container matColumnDef="ultimaLectura">
    <th mat-header-cell *matHeaderCellDef> Salida </th>
    <td mat-cell *matCellDef="let element"> {{element.ultimaLectura | date:'dd-MM-yyyy HH:mm'}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="selection.toggle(row)">
  </tr>
</table>




<!-- changes -->
<!-- <form class="form-horizontal p-t-20"
                        [formGroup]="lecturaForm"
                        (submit)="BuscarTag()">
                    
 <div class="bg-card rounded-full border px-4"
             fxFlex="400px"
             fxFlex.lt-md="auto"
             fxHide.xs
             fxLayout="row"
             fxLayoutAlign="start center">
          <input formControlName="fecha"
                 class="px-4 py-3 border-0 outline-none w-full bg-transparent"
                 placeholder="Ingrese Fecha"
                 type="text">
        </div>
        <div class="bg-card rounded-full border px-4"
             fxFlex="400px"
             fxFlex.lt-md="auto"
             fxHide.xs
             fxLayout="row"
             fxLayoutAlign="start center">
          <input formControlName="ruc"
                 class="px-4 py-3 border-0 outline-none w-full bg-transparent"
                 placeholder="Ingrese Ruc"
                 type="text">
        </div>

        <div class="form-group row m-b-0">
          <div class="offset-sm-3 col-sm-9">
              <button  mat-raised-button type="submit"
                    color="primary">
                  <i class="fa fa-save"></i>
                  Buscar
              </button>
          </div>
        </div>

  </form> -->


<!-- <div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-stripped">
            <thead>
              <tr>
                <th>Id</th>
                <th>Epc</th>
                <th>ModuloId</th>
                <th>ModuloRol </th>
                <th>Lecturas </th>
                <th>Local</th>
                <th>telefono </th>
                <th>Antena</th>
                <th>Empresa </th>
                <th>RUC </th>
                <th>UltimaLectura</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of customers">
                <td>{{data.id}}</td>
                <td>{{data.epc}}</td>
                <td>{{data.moduloId}}</td>
                <td>{{data.moduloRol}}</td>
                <td>{{data.lecturas}}</td>
                <td>{{data.local}}</td>
                <td>{{data.telefono}}</td>
                <td>{{data.antena}}</td>
                <td>{{data.empresa}}</td>
                <td>{{data.ruc}}</td>
                <td>{{data.ultimaLectura | date:'dd-MM-yyyy'}} </td>
                <td>{{data.labels}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div> -->


  

